.banner a {
    background-color: rgb(4, 4, 4);
    color: grey;
    padding: 10px;
    text-align: center;
  }
  .banner a {
    color: blue
    margin: 0 15px;
    text-decoration: solid;
    font-weight: bold;
  }
  .banner a:hover{
    text-decoration: underline;
  }